body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #6bedf0; /* Blue background color */
    color: #080808; /* White text color */
}

.container {
    text-align: center;
    animation: fadeInUp 2s ease-in-out; /* Add animation */
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

